<div>
  <div>
    <h1>
      List of all work locations
    </h1>
  </div>
</div>

<a href="/new/work_location"> Add a new place!<a>
<hr>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Location type
        </th>

        <th>
          Name
        </th>

        <th>
          Average rating
        </th>

        <th>
        </th>
      </tr>
        <%if @list_of_work_locations.present?%>
          <% @list_of_work_locations.each do |a_work_location| %>
          <tr>
            <td>
              <%= a_work_location.id %>
            </td>

            <td>
              <%= a_work_location.location_type_id %>
            </td>

            <td>
              <%= a_work_location.name %>
            </td>

            <td>
              <%= a_work_location.average_rating %>
            </td>

            <td>
              <a href="/work_locations/<%= a_work_location.id %>">
                Show details
              </a>
            </td>
          </tr>
          <% end %>
        <%end%>
    </table>
  </div>
</div>

<hr>
