


<div>
  <div>
    <h1>
      Work location <%= @the_work_location.name %> details
    </h1>

    <div>
      <div>
        <a href="/work_locations">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_work_location/<%= @the_work_location.id %>">
          Delete work location
        </a>
      </div>
    </div>

    <div>
      <a href="/edit_work_location/<%= @the_work_location.id %>">
        Edit Work Location
      </a>
    </div>

  <table border ="1">
    <tr>
      <td>Location type</td>
      <td><%= LocationType.where({:id=>@the_work_location.location_type_id}).at(0).descriptor %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @the_work_location.name %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @the_work_location.description %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= @the_work_location.wifi_speed %></td>
    </tr>

    <tr>
      <td>City</td>
      <td><%= @the_work_location.city %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= @the_work_location.state %></td>
    </tr>
    <tr>
      <td>Zip Code</td>
      <td><%= @the_work_location.zip_code %></td>
    </tr>
    <tr>
      <td>Phone number</td>
      <td><%= @the_work_location.phone_number %></td>
    </tr>

    <tr>
      <td>Website</td>
      <td> <%= @the_work_location.website %></td>
    </tr>

    <tr>
      <td>Weekday hours</td>
      <td><%= @the_work_location.weekday_opening.strftime("%I:%M %P") %> - <%= @the_work_location.weekday_closing.strftime("%I:%M %P") %></td>
    </tr>
    <tr>
      <td>Weekend Hours</td>
      <td><%= @the_work_location.weekend_opening.strftime("%I:%M %P") %> - <%= @the_work_location.weekend_closing.strftime("%I:%M %P") %></td>
    </tr>

    <tr>
      <td>Requires purchase</td>
      <td><%= @the_work_location.requires_purchase %></td>
    </tr>
    <tr>
      <td>Membership</td>
      <td><%= @the_work_location.membership %></td>
    </tr>
  </table>
</div>
<h2>Ratings</h2>
<a href="/add_rating/<%= @the_work_location.id %>">Rate This Location</a>
<div>
<table border = "1">
  <tr>
    <th>Average Rating</th>
    <th>Wifi</th>
    <th>Crowding</th>
    <th>Noise</th>
  </tr>
  <tr>
    <td><%= @the_work_location.average_rating %></td>
    <td><%= @the_work_location.wifi_speed %></td>
    <td><%= @the_work_location.crowding_average %></td>
    <td><%= @the_work_location.noise_average %></td>

</table>
</div>
  <br>
<div>
<table border = "1">
  <tr>
    <th>Overall</th>
    <th>Wifi</th>
    <th>Crowding</th>
    <th>Noise</th>
    <th>Comment</th>
  </tr>

  <%if @ratings.present?%>
    <% @ratings.each do |a_rating| %>
  
      <tr>
        <td><%= a_rating.stars %></td>
        <td><%= a_rating.wifi_rating %></td>
        <td><%= a_rating.noise_level %></td>
        <td><%= a_rating.crowding_score %></td>
        <td><%= a_rating.content %></td>
      </tr>
    <%end%>
  <%end%>
</table>
</div>
</div>

<hr>
