


<div>
  <div>
    <h2>
      <%= @the_work_location.name %> details
    </h2>

    <div>

  <%if Image.where({:location_id=>@the_work_location.id}).at(0) != nil%>
    <div>
      <div>
        <img src="<%=Image.where({:location_id=>@the_work_location.id}).sample.picture%>"
          width="400"
          >
      </div>
      <div>
       <a href="/images/<%=@the_work_location.id%>">View all images </a>
      </div>
      
    </div>
  <%end%>

  <% if current_user!=nil%> 
    <form action="/insert_image/<%= @the_work_location.id %>" method="post">
    <button>Add image</button>
    <input type="text" name = "query_image_url" placeholder="Input URL">
    
    </form>
    
  <%end%>

  <table border ="1">
    <tr>
      <td>Location type</td>
      <td><%= LocationType.where({:id=>@the_work_location.location_type_id}).at(0).descriptor %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @the_work_location.name %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @the_work_location.description %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= @the_work_location.address %></td>
    </tr>

    <tr>
      <td>City</td>
      <td><%= @the_work_location.city %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= @the_work_location.state %></td>
    </tr>
    <tr>
      <td>Zip Code</td>
      <td><%= @the_work_location.zip_code %></td>
    </tr>
    <tr>
      <td>Phone number</td>
      <td><%= @the_work_location.phone_number %></td>
    </tr>

    <tr>
      <td>Website</td>
      <td> <%= @the_work_location.website %></td>
    </tr>

    <tr>
      <td>Weekday hours</td>
      <td><%= @the_work_location.weekday_opening.strftime("%I:%M %P") %> - <%= @the_work_location.weekday_closing.strftime("%I:%M %P") %></td>
    </tr>
    <tr>
      <td>Weekend Hours</td>
      <td><%= @the_work_location.weekend_opening.strftime("%I:%M %P") %> - <%= @the_work_location.weekend_closing.strftime("%I:%M %P") %></td>
    </tr>

    <tr>
      <td>Requires purchase</td>
      <td><%= @the_work_location.requires_purchase %></td>
    </tr>
    <tr>
      <td>Membership</td>
      <td><%= @the_work_location.membership %></td>
    </tr>
  </table>
</div>


    <% if current_user!=nil%> 
      <%if @the_work_location.owner_id==current_user.id%>
        <div>
          <a href="/delete_work_location/<%= @the_work_location.id %>">
            Delete work location
          </a>
        </div>
      </div>

      <div>
        <a href="/edit_work_location/<%= @the_work_location.id %>">
          Edit Work Location
        </a>
      </div>
      <%end%>
    
      <%if FavoritePlace.where({:place_id=>@the_work_location.id}).where({:user_id=>current_user.id}).at(0)==nil%>
        <div>
          <form action="/insert_favorite_place/<%= @the_work_location.id %>" method="post">
          <button>Add Favorite</button>
          <input type="text" name = "query_note" placeholder="Add Note">
          </form>
        </div>
      <%else%>
        Already a Favorite <a href="/delete_favorite_place/<%=@the_work_location.id%>">Remove Favorite</a>
      <%end%>
    <%end%>


<h2>Ratings</h2>

<% if current_user!=nil and Rating.where({:location_id=>@the_work_location.id}).where({:user_id=>current_user.id}).at(0)==nil%> 
  <a href="/add_rating/<%= @the_work_location.id %>">Rate This Location</a>
<%end%>
<div>
<table border = "1">
  <tr>
    <th>Average Rating</th>
    <th>Wifi</th>
    <th>Crowding</th>
    <th>Noise</th>
  </tr>
  <tr>
    <%if Rating.where({:location_id =>@the_work_location.id}).at(0)!=nil%>
    <td><%=Rating.where({:location_id =>@the_work_location.id}).average(:stars).round(1)%></td>
    <td><%= Rating.where({:location_id =>@the_work_location.id}).average(:wifi_rating).round(1) %></td>
    <td><%= Rating.where({:location_id =>@the_work_location.id}).average(:crowding_score).round(1) %></td>
    <td><%= Rating.where({:location_id =>@the_work_location.id}).average(:noise_level).round(1) %></td>
    <%end%>

</table>
</div>
  <br>
<div>
<table border = "1">
  <tr>
    <th>User</th>
    <th>Overall</th>
    <th>Wifi</th>
    <th>Crowding</th>
    <th>Noise</th>
    <th>Comment</th>
    <th></th>
  </tr>

  <%if @ratings.present?%>
    <% @ratings.each do |a_rating| %>
  
      <tr>
        <td><%= a_rating.user.email%></td>
        <td><%= a_rating.stars %></td>
        <td><%= a_rating.wifi_rating %></td>
        <td><%= a_rating.crowding_score %></td>
        <td><%= a_rating.noise_level %></td>
        <td><%= a_rating.content %></td>
        <td>
          <%if current_user!=nil and a_rating.user_id==current_user.id%>
            <a href="/delete_rating/<%=a_rating.id%>">Delete Rating</a>
          <%end%>
        </td>
      </tr>
    <%end%>
  <%end%>
</table>
</div>
</div>


<%gapiaddress = @the_work_location.address.gsub(" ","+")%>
<%gapi = [
  gapiaddress,
  @the_work_location.city,
  @the_work_location.state,
  @the_work_location.zip_code
].map(&:to_s).join('+')%>
<%api="https://www.google.com/maps/embed/v1/place?key=AIzaSyBOmkmNEI6pvBlaQLHufHriV05FQruquog
    &q="%>
<%gapi2=api+gapi%>




<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="<%=gapi2%>"
</iframe>


<hr>
