<div>
  <div>
    <h1>
      List of all ratings
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new rating
    </h2>

    <form action="/insert_rating" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="location_id_box">
          Location
        </label>

        <input type="text" id="location_id_box" name="query_location_id">
      </div>

      <div>
        <label for="stars_box">
          Stars
        </label>

        <input type="text" id="stars_box" name="query_stars">
      </div>

      <div>
        <label for="content_box">
          Content
        </label>

        <textarea id="content_box" name="query_content" rows="3"></textarea>
      </div>

      <div>
        <label for="wifi_rating_box">
          Wifi rating
        </label>

        <input type="text" id="wifi_rating_box" name="query_wifi_rating">
      </div>

      <div>
        <label for="crowding_score_box">
          Crowding score
        </label>

        <input type="text" id="crowding_score_box" name="query_crowding_score">
      </div>

      <div>
        <label for="noise_level_box">
          Noise level
        </label>

        <input type="text" id="noise_level_box" name="query_noise_level">
      </div>

      <button>
        Create rating
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Location
        </th>

        <th>
          Stars
        </th>

        <th>
          Content
        </th>

        <th>
          Wifi rating
        </th>

        <th>
          Crowding score
        </th>

        <th>
          Noise level
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_ratings.each do |a_rating| %>
      <tr>
        <td>
          <%= a_rating.id %>
        </td>

        <td>
          <%= a_rating.user_id %>
        </td>

        <td>
          <%= a_rating.location_id %>
        </td>

        <td>
          <%= a_rating.stars %>
        </td>

        <td>
          <%= a_rating.content %>
        </td>

        <td>
          <%= a_rating.wifi_rating %>
        </td>

        <td>
          <%= a_rating.crowding_score %>
        </td>

        <td>
          <%= a_rating.noise_level %>
        </td>

        <td>
          <%= time_ago_in_words(a_rating.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_rating.updated_at) %> ago
        </td>

        <td>
          <a href="/ratings/<%= a_rating.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
