<div>
  <div>
    <h1>
      Rating #<%= @the_rating.id %> details
    </h1>

    <div>
      <div>
        <a href="/ratings">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_rating/<%= @the_rating.id %>">
          Delete rating
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_rating.user_id %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_rating.location_id %>
      </dd>

      <dt>
        Stars
      </dt>
      <dd>
        <%= @the_rating.stars %>
      </dd>

      <dt>
        Content
      </dt>
      <dd>
        <%= @the_rating.content %>
      </dd>

      <dt>
        Wifi rating
      </dt>
      <dd>
        <%= @the_rating.wifi_rating %>
      </dd>

      <dt>
        Crowding score
      </dt>
      <dd>
        <%= @the_rating.crowding_score %>
      </dd>

      <dt>
        Noise level
      </dt>
      <dd>
        <%= @the_rating.noise_level %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_rating.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_rating.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit rating
    </h2>

    <form action="/modify_rating/<%= @the_rating.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_rating.user_id %>">
      </div>

      <div>
        <label for="location_id_box">
          Location
        </label>

        <input type="text" id="location_id_box" name="query_location_id" value="<%= @the_rating.location_id %>">
      </div>

      <div>
        <label for="stars_box">
          Stars
        </label>

        <input type="text" id="stars_box" name="query_stars" value="<%= @the_rating.stars %>">
      </div>

      <div>
        <label for="content_box">
          Content
        </label>

        <textarea id="content_box" name="query_content"><%= @the_rating.content %></textarea>
      </div>

      <div>
        <label for="wifi_rating_box">
          Wifi rating
        </label>

        <input type="text" id="wifi_rating_box" name="query_wifi_rating" value="<%= @the_rating.wifi_rating %>">
      </div>

      <div>
        <label for="crowding_score_box">
          Crowding score
        </label>

        <input type="text" id="crowding_score_box" name="query_crowding_score" value="<%= @the_rating.crowding_score %>">
      </div>

      <div>
        <label for="noise_level_box">
          Noise level
        </label>

        <input type="text" id="noise_level_box" name="query_noise_level" value="<%= @the_rating.noise_level %>">
      </div>

      <button>
        Update rating
      </button>
    </form>
  </div>
</div>

<hr>
