<div>
  <div>
    <h1>
      Favorite place #<%= @the_favorite_place.id %> details
    </h1>

    <div>
      <div>
        <a href="/favorite_places">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_favorite_place/<%= @the_favorite_place.id %>">
          Delete favorite place
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_favorite_place.user_id %>
      </dd>

      <dt>
        Place
      </dt>
      <dd>
        <%= @the_favorite_place.place_id %>
      </dd>

      <dt>
        Note
      </dt>
      <dd>
        <%= @the_favorite_place.note %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_favorite_place.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_favorite_place.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit favorite place
    </h2>

    <form action="/modify_favorite_place/<%= @the_favorite_place.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_favorite_place.user_id %>">
      </div>

      <div>
        <label for="place_id_box">
          Place
        </label>

        <input type="text" id="place_id_box" name="query_place_id" value="<%= @the_favorite_place.place_id %>">
      </div>

      <div>
        <label for="note_box">
          Note
        </label>

        <input type="text" id="note_box" name="query_note" value="<%= @the_favorite_place.note %>">
      </div>

      <button>
        Update favorite place
      </button>
    </form>
  </div>
</div>

<hr>
