<div>
  <div>
    <h1>
      List of all location types
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new location type
    </h2>

    <form action="/insert_location_type" method="post">
      <div>
        <label for="descriptor_box">
          Descriptor
        </label>

        <input type="text" id="descriptor_box" name="query_descriptor">
      </div>

      <button>
        Create location type
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Descriptor
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_location_types.each do |a_location_type| %>
      <tr>
        <td>
          <%= a_location_type.id %>
        </td>

        <td>
          <%= a_location_type.descriptor %>
        </td>

        <td>
          <%= time_ago_in_words(a_location_type.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_location_type.updated_at) %> ago
        </td>

        <td>
          <a href="/location_types/<%= a_location_type.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
