<div>
  <div>
    <h1>
      Location type #<%= @the_location_type.id %> details
    </h1>

    <div>
      <div>
        <a href="/location_types">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_location_type/<%= @the_location_type.id %>">
          Delete location type
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Descriptor
      </dt>
      <dd>
        <%= @the_location_type.descriptor %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_location_type.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_location_type.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit location type
    </h2>

    <form action="/modify_location_type/<%= @the_location_type.id %>"  method="post" >
      <div>
        <label for="descriptor_box">
          Descriptor
        </label>

        <input type="text" id="descriptor_box" name="query_descriptor" value="<%= @the_location_type.descriptor %>">
      </div>

      <button>
        Update location type
      </button>
    </form>
  </div>
</div>

<hr>
