<div>
  <div>
    <h1>
      Images for <%=WorkLocation.where({:id=>@the_id}).at(0).name%>
    </h1>
  </div>

  <div>
    <a href="/work_locations/<%=@the_id%>">
            Go back
      </a>
 </div>
 
<div>
 <table border ="1">
  <tr>
    <th>Image</th>
    <th>Posted By</th>
    <th>Posted On</th>
    <th>Delete?</th>
  </tr>

  <%@matching_images.each do |an_image| %>
  <tr>
    <td> <img src="<%= an_image.picture %>" width="400"> </td>
    <td> <%=an_image.poster.email%> </td>
    <td> <%= time_ago_in_words(an_image.created_at) %> ago</td>
    <td> 
      
      <%if current_user != nil and an_image.poster_id == current_user.id%>
        <a href="/delete_image/<%= an_image.id %>">
          Delete image
        </a>
      <%end%>
      </td>
    </tr>
  <%end%>
 </div>
</div>
